<a href="/auth/logout"><button>Logout</button></a>
<h1>Hi {{fullName}}</h1>

<h3>Email: {{email}}</h3>

<p>Profile created on: {{createdAt}}</p>
<br>
<a href="/auth/profile/create"><button>Create a Room</button></a>
<a href="/auth/rooms/my-rooms"><button>See my rooms</button></a>


