<form action="auth/rooms/new-review/{{this._id}}" method="POST">
<h1>Review the room {{this.name}}</h1>

<label>Leave your comment:

<textarea name="comment" id="" cols="30" rows="10">

</textarea>


<button type="submit">Send review</button>
</label>





</form>

